th{
	text-align: center;
}

input{
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	background-color: white;
	color:  grey;
	font-family: tahoma;
	
}

table{
	margin-left: 340px;
	font-family: sans-serif;
	width: 50%;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(172,224,249);
	margin-top: 10px;
	border-radius: 15px;
}
th{
	background-color: rgb(172,224,249);
}
tbody tr:nth-child(even){
    background-color: rgb(218,241,252);
}
.campeonato{
	margin-top: 20px;
}